.container
{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
    border-style: solid;
    border-width: 0.1rem;
    border-radius: 0.2rem;
}



.list_item
{
    display: flex;
    align-items: center;
    padding: 2rem;
    border-style: solid;
    border-width: 0.1rem;
    border-radius: 0.2rem;

}

.list_item:hover
{
    background-color: green;
    cursor: pointer;
}



.item_logo
{
    font-size: xx-large;
}



.item_text
{
    flex: auto;
}



.text
{
    cursor: pointer;
    text-align: center;
}



.item_edit
{
    cursor: default;
    font-size: large;
    margin-right: 1rem;
}



.edit
{
    cursor: default;
}

.edit:hover
{
    color: yellow;
}



.item_delete
{
    cursor: default;
}



.delete
{
    cursor: default;
}

.delete:hover
{
    color: red;
}